
<form [formGroup]="formContato">
    <div>
        <label for="nome">Nome</label>
        <input type="text" 
              name="nome" id="nome" 
              formControlName="nome">
    </div>
      <div>
        <label for="email">Email</label>
        <input type="email" 
              name="email" id="email" 
              formControlName="email">
    </div>
     <div>
    <label for="tel">Telefone</label>
    <input type="tel" id="tel" formControlName="tel">
    <div *ngIf="formContato.get('tel')?.invalid && formContato.get('tel')?.touched">
      <small *ngIf="formContato.get('tel')?.errors?.['required']">Telefone é obrigatório.</small>
      <small *ngIf="formContato.get('tel')?.errors?.['pattern']">Formato inválido. Use (84) 98888-7777.</small>
    </div>
     <div>
    <label for="aniversario">Aniversário</label>
    <input type="date" id="aniversario" formControlName="aniversario">
    <div *ngIf="formContato.get('aniversario')?.invalid && formContato.get('aniversario')?.touched">
      <small>O aniversário é obrigatório.</small>
    </div>
  </div>
  </div>
    <div>
        <label for="tipo">Tipo</label>
        <select name="nome" id="nome" 
                formControlName="tipo">
            @for (t of tipos; track t) {
                <option [value]="t">{{t}}</option>
            }
        </select>
    </div>
    <input type="button" value="Adicionar"
           [disabled]="formContato.invalid" 
           (click)="adicionar()">
           
            <input type="button" value="Limpar"
           (click)="limparCampos
           ()">
</form>
<table>
  @if (contatos.length != 0) {
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Aniversário</th>
      <th>Tipo</th>
    </tr>
  }
  @for (pessoa of contatos; track pessoa) {
    <tr>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.email}}</td>
      <td>{{pessoa.tel}}</td>
      <td>{{pessoa.aniversario}}</td>
      <td>{{pessoa.tipo}}</td>
    </tr>
  }
</table>